<div class="container-fluid mhead">
	<div class="row no-gutter">
		<div class="col-md-12">
			<div class="topfon"></div>
		</div>
	</div>
</div>

<div class="container middle">
	<div class="row">
		<div class="col-md-12">
			<div class="home">
				<div class="box box-home">
					<h1 class="title">{{username}} - Lisk Delegate Pool</h1>
					<div class="text">
						This is only front end interface which allows only to read informations. In order to start forging you need to vote for Pool delegate <span>"{{username}}" ({{daddr}})</span> via LISK web client. More delegate informations can be found in Stats tab. Pool will proportionally share <span>{{pshare}}%</span>  of forged blocks revenue to people who voted, rest will be kept for 
						"<a href="https://lisk-ua.net" target="_blank" title="Delegate info">DELEGAT INFO</a>". This pool is working on <span>{{network}}</span>. Payments interval is <span>{{pptime}}</span>  if earned more than <span>{{ppmin}} LSK</span>. If you voted for Pool ({{username}}) information will appear on Stats tab as soon new block is forged. 
					</div>
					<a class="btn-vote" href="https://github.com/LiskHQ/lisk-desktop/releases" target="_blank" title="Vote for delegate">Vote</a>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>